\documentclass{ {{- .ClassPath | default "../assignments" -}} }
\course{ {{- .Course -}} }
\group{ {{- .Group | default "" -}} }
\sheet{ {{- .Sheet | default "" -}} }
\due{ {{- .Due | default "" -}} }
{{ range $_, $member := .Members }}
{{- $firstname := ($member.Name | splitList " " | initial | join " ") | default "" -}}
{{- $lastname := ($member.Name | splitList " " | last) | default "" -}} 
\member{ {{- $firstname -}} }{ {{- $lastname -}} }{ {{- $member.ID -}} }
{{ end }}
\begin{document}
\maketitle
\gradingtable

% Start the assignment here

\end{document}